@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    3924 S. Orcas St.<br />
    Seattle, WA 98118<br />
    <abbr title="Phone">P:</abbr>
    206.458.8308
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">nlhkha@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>